
.actividades_imagen_actividad_header{
   height:40vh;
   width: 100%;
   filter:brightness(60%);
   object-fit: fill;
}
.actividades_espacio_actividades{
  margin-bottom: 40px;
}
.actividades_nombre{
  text-align: center;
  padding-top: 50px;
  font-weight: 600;
  color: #E14D2A;
  font-size: 80px;
}
.actividad_ciudad{
  text-align: center;
  color: #FD841F;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size:40px;
    
}
.actividad_descripcion{
    margin-bottom: 30px;
    color: #E14D2A;
}
.actividad_precio{
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  color:#FD841F;
}
.actividades_nombre_precio{
  color:#E14D2A;
}
.actividad_precio_precio{
  text-align: center;
  color:#FD841F;
  font-size: 80px;
}
.actividad_guia{
    color:#E14D2A;
    text-align: center;
    font-size: 50px;
    margin-bottom: 25px;
    font-weight: 700;
}
.espacio_reservas{

    text-align: center;
    margin-bottom: 60px;
}
@media (hover: hover) {
    #creditcard {
      transform: translateY(110px);
      transition: transform 0.1s ease-in-out;
    }
  
    #money {
      transform: translateY(180px);
      transition: transform 0.1s ease-in-out;
    }
  
    .boton_reserva:hover #creditcard {
      transform: translateY(0px);
      transition: transform 0.2s ease-in-out;
    }
  
    .boton_reserva:hover #money {
      transform: translateY(0px);
      transition: transform 0.3s ease-in-out;
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.25rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
  
  .boton_reserva {
    border:none;
    outline: none;
    position: relative;
    border-radius: 4px;
    letter-spacing: 0.7px;
    padding: 10px 20px 0px 20px;
    background-image: linear-gradient(to bottom, #E14D2A, rgba(240, 115, 6, 0.473));
    color: white;
    font-size: 30px;
    font-weight: 900;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    box-shadow: #E14D2A 0px 4px 8px 0px;
  }
  
  .boton_reserva:active {
    transform: translateY(1px);
  }
  
  .button__svg {
    overflow: visible;
    bottom: 6px;
    right: 0.2rem;
    height: 40%;
  }
.actividades_texto_reservada{
    font-family: 'Calligraffitti', cursive;
    font-weight: 500;
    font-size: 40px;
    text-shadow: -15px 5px 20px #ced0d3;
    top: 50%;
    left: 50%;
    word-spacing: 4px;
    text-align: center;
    color: #ffffff;
    text-shadow: 5px 5px #E14D2A
}
.espacio_reservas_header{
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
}
.actividad_comentarios_body{
    padding-bottom: 15px;
}
.actividad_tarjeta{
    text-align: center;
    width: 25rem;
    margin-bottom: 60px;
}


.actividad_tarjeta_nombre{
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.actividad_comentarios{
    color:#E14D2A;
    text-align: center;
    font-size: 50px;
    margin-bottom: 25px;
    font-weight: 700;
}
.tarjeta_comentarios{
    flex-direction: row;
    line-height: 0.7;
    background-color: #fce38a;
}
.tarjeta_comentarios img{
    width: 100%;
    height: 100%;
}
.tarjeta_comentarios_titulo{
    font-style: italic;
    font-size: 30px;
}
.tarjeta_comentarios_comentario{
    color:#E14D2A;
    font-weight: 500;
    line-height: 20px;
    font-size: 15px;
}
.tarjeta_comentarios_usuario{
    font-weight: bold;
    font-size: 20px;
}

