.cancela_reservas_body{
    height: 90vh;
}
.cancela_reservas_header{
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    background-image: linear-gradient(to right, #E14D2A, #FD841F);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding-top: 100px;
}