.nuevoComentario_body{
    padding-top: 120px;
    text-align: center;
    height: 90vh;
    width: 100%;
    padding-bottom: 26vh;
}

.nuevoComentario_form{
    height: 100%;
}
  
.nuevoComentario_encabezado{
    color: #E14D2A;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}
.nuevoComentario_input{
    margin-top: 20px;
    height:50px;
    text-align: center;
    font-size: 25px;
    border-radius: 25px;
    border-style: none;
}
::placeholder{
    color:#E14D2A;
}
.nuevoComentario_icono_comentario{
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 25px;
    color: #E14D2A;
}
.nuevoComentario_areatexto{
    color:black;
    width: 100%;
}