/*-https://bbbootstrap.com/snippets/bootstrap-5-flipping-cards-for-catalog-29291738-*/
.search_body{
    background-color: lightsalmon;
    display:flex;
    width: 100%;
    padding-top: 10%;
    text-align: center;
    align-items:center;
}
.barra_search{
    width: 80%;
    margin-bottom: 60px;
}
.barra_search_encabezado{
    color: #FD841F;
    font-size: 50px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.barra_search_viajar{
    color:#E14D2A;
    font-size: 55px;
}
.containerInput{
    width: 100%;
    margin-bottom: 30px;
}
.barra_search_input{
    width: 50%;
    height:50px;
    text-align: center;
    font-size: 25px;
    border-radius: 25px;
    border-style: none;
}
.search_icono_search{
    position: absolute;
    padding-left: 32px;
    padding-top: 14px;
    font-size: 25px;
    color: #E14D2A;
}
.search_field{
  margin-top: 60px; 
}
.search_img_carta{
    filter:brightness(80%)
}
  /****************************************************************************/
.search_h5{
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color:#E14D2A;
    font-size: 30px;
}
.search_carta{
    background-color: #FFE15D;
}
.search_fecha{
    color:#E14D2A;
    font-size:20px;
    font-weight: 600;
}
.search_carta_body{
    padding:5px;
}
.search_carta_imagen{
    width: 80%;
}
.search_carta_boton{
    border-color: #E14D2A;
    background-color: #FD841F;
}
.search_carta_parrafo{
    background-color: #FD841F;
    color: white;
}
.search_carta_boton{
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 15px;
    font-weight: 800;
    justify-content: center;
    line-height: 34px;
    margin: 0px;
    min-height: 64px;
    min-width: 30%;
    outline: none;
    overflow: visible;
    
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}
    
.search_carta_boton:before,
.search_carta_boton:after {
    border-radius: 4px;
}
    
.search_carta_boton:before {
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}
    
.search_carta_boton:after {
    background-color: initial;
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}
    
.search_carta_boton:hover:not(:disabled):before {
    background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}
    
.search_carta_boton:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
}
    
.search_carta_boton:active:not(:disabled) {
    color: #ccc;
}
    
.search_carta_boton:active:not(:disabled):before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}
    
.search_carta_boton:active:not(:disabled):after {
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}
    
.search_carta_boton:disabled {
    cursor: default;
    opacity: .24;
}
/******************************************************************************/
.container-fluid{
    transform-style: preserve-3d;
}

.container-fluid .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container-fluid .box .cuerpo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;
}
.container-fluid .box .cuerpo .cuerpo_titulo{
    font-size: 100px;
    top: 0;
    left: 0;
}


.container-fluid .box .cuerpo .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.container-fluid .box .cuerpo .imgContainer .titulo_container .h2{
    position:absolute;
    z-index: 1;
}

.container-fluid .box .cuerpo .imgContainer img{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(80%)
}

.container-fluid .box .cuerpo .imgContainer .precio_container{
    position: absolute;
    padding-left: 70px;
    padding-top: 180px;
}

.container-fluid .box .cuerpo .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9C2C77;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container-fluid .box:hover .cuerpo{
    transform: rotateY(180deg);
}

.container-fluid .box .cuerpo .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #CD104D,#FD841F);
    transform: translateZ(100px);
}
